.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
.feed-container {
	display: flex;
	flex-direction: column;
}
.feedpost {
	margin-top: 1em;
}

.container a {
	text-decoration: none;
	color: black;
}
.container a:visited {
	color: black;
}
.feedpost-center {
	text-align: center;
}

.feedpost-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
