.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comment {
	margin-top: 1em;
}
