.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
.post-container {
	display: flex;
	flex-direction: column;
}
.post {
	margin-top: 1em;
}
.post-center {
	text-align: center;
}

.post-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: lightgray;
}
